<!-- <div class="navbar-container"> -->
    <div class="background-img">
        <p class="company">Adorjan Paving Solutions</p>
    </div>
    
    <div class="navbar">
        <div [class.isVisible]="isShown" class="white-bg"></div>
        <div class="logo-container">
            <img src="../../../assets/terkoves-logo-keret-5px.png" alt="company logo" [class.is-shown]="isShown"  class="logo">
        </div>
        
        <div  [class.fixed]="isOpen" class="menu-btn" (click)="toggleMenu()">
            <div [class.change]="isOpen"  class="bar1"></div>
            <div [class.change]="isOpen" class="bar2"></div>
            <div [class.change]="isOpen" class="bar3"></div>
        </div>
        <nav [class.open]="isOpen">
            <ul>
                <li>Garden Paving</li>
                <li>Driveways</li>
                <li>Paths</li>
                <li>Kersbs & Edging</li>
                <li>Other</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
<!-- </div> -->

