@use '../../../styles' as *;

// .navbar-container {
//   @media (min-width: $tablet) {
//     // display: unset;
//     max-width: 1000px;
//     width: 90%;
//     margin: 0 auto;
//     border-radius: 2px;

//     @include box-shadow();
//   }

  .background-img {
    display: none;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../assets/photo-1577393165327-117d735d1c36.jpeg");
    background-size: cover;
    background-position: 100% 60%;
    height: 10em;
   
    // justify-content: center;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // max-width: 1000px;
      margin: 0 auto;
      position: relative;

      
    

      .company {
        margin-right: 1em;
        text-align: right;
        max-width: 75%;
        color: $logo-green;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 1px;

        @media (min-width: $desktop) {
          margin-right: 2em;
        }
      }
    }

    
  }

  .navbar {
    // max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.6em;
    width: 100%;

    @media (min-width: $tablet) {
      position: -webkit-sticky;
      position: sticky;
      top: 1.5em;
      padding: 0.3em 0.4em;
      background: rgba(175, 175, 175, 1);
      border-radius: 2px;
    }

    .green-bg {
      display: none;

      @media (min-width: $tablet) {
        &.isVisible {
          display: block;
          // background: $logo-green;
          background: rgb(187,215,96);
background: linear-gradient(0deg, rgba(187,215,96,1) 0%, rgba(255,255,255,1) 95%);

          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          height: 1.5em;
        }
        
      }
    }

    .white-bg {
      display: none;

      @media (min-width: $tablet) {
        &.isVisible {
          display: block;
          background: rgb(187,215,96);
background: linear-gradient(180deg, rgba(187,215,96,1) 0%, rgba(255,255,255,.5) 95%);
          // background-image: linear-gradient(#fff2, #fff9);
          // background-image: linear-gradient(rgba(175, 175, 175, .5), rgba(175, 175, 175, 0.1));
          // background-image: linear-gradient(rgba(175, 175, 175, .5), rgba(175, 175, 175, 0.1));
//           background: rgb(175,175,175);
// background: linear-gradient(180deg, rgba(175,175,175,1) 0%, rgba(255,255,255,1) 50%);
        // opacity: .9;
          position: fixed;
          width: 100%;
          top: 3.5em;
          left: 0;
          height: 1.5em;
          // box-shadow: 0 5px 5px  rgba(255,255,255, .8);
        }
        
      }
    }


    .logo {
      cursor: pointer;
      height: 2.5em;
      border-radius: 2px;
      transition: all 0.3s;

      @media (min-width: $tablet) {
        position: absolute;
        top: -8em;
        left: 2em;
        height: 6em;

        @media (min-width: $desktop) {
          left: 5em;
        }

        &.is-shown {
          top: -1em;
          height: 4em;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }


    .menu-btn {
      display: inline-block;
      cursor: pointer;
      z-index: 2;
      margin-right: .5em;

      &.fixed {
        position: fixed;
        top: .9em;
        right: .5em;
      }
     


      @media (min-width: $tablet) {
        display: none;
      }

      .bar1,
      .bar2,
      .bar3 {
        // width: 35px;
        // height: 5px;
        background-color: $logo-grey;
        // margin: 6px 0;
        transition: all 0.3s;
        width: 30px;
        height: 4px;
        margin: 5px 0;

      }

      .bar1 {
        margin: 0;
      }

      .change.bar1 {
        // transform: rotate(-45deg) translate(-8px, 6px);
        -webkit-transform: rotate(-45deg) translate(-5px, 11px);
        transform: rotate(-45deg) translate(-7px, 9px);
        background-color: $logo-green;
      }

      .change.bar2 {
        opacity: 0;
      }

      .change.bar3 {
        // transform: rotate(45deg) translate(-9px, -8px);
        -webkit-transform: rotate(45deg) translate(-1px, -8px);
        transform: rotate(45deg) translate(-3px, -6px);
        background-color: $logo-green;
      }
    }

    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      height: 100vh;
      background: $logo-grey;
      transform: translateX(100%);
      transition: all 0.3s;
      display: flex;
      align-items: center;

      @media (min-width: $tablet) {
        position: unset;
        transform: translateX(0);
        height: auto;
        background: unset;
        display: block;
      }

      &.open {
        transform: translateX(0);
      }

      ul {
        list-style: none;
        padding: 1em;

        @media (min-width: $tablet) {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 2em;
        }

        @media (min-width: $desktop) {
          margin-right: 5em;
        }

        li {
          cursor: pointer;
          text-transform: uppercase;
          margin-bottom: 1em;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 1;
          color: black;
          transition: all 0.3s;

          &:hover {
            color: white;
          }

          @media (min-width: $tablet) {
            margin-bottom: 0;
            font-size: 0.8rem;
            margin-left: 1.5em;
            position: relative;
            padding: 0.2em 0.4em;
            border-radius: 2px;

            &:last-child {
              margin-right: 1em;
            }

            // &::after {
            //     background: none repeat scroll 0 0 transparent;
            //     bottom: 0;
            //     content: "";
            //     display: block;
            //     height: 2px;
            //     left: 50%;
            //     position: absolute;
            //     background: #000;
            //     width: 0;
            //     transition: all .3s
            // }

            &:hover {
              color: #000;
              background: $logo-green;
              @include box-shadow();
              transform: translateY(-1px);

              // &::after {
              //     // width: 100%;
              //     // left: 0;
              // }
            }
          }
        }
      }
    }
  }
// }
