<!-- <div class="navbar-container"> -->
    <div class="background-img">
        <p class="company"><span>Paving</span> Solutions</p>
    </div>
    
    <div class="navbar">
        <div [class.isVisible]="isShown" class="green-bg"></div>
        <div [class.isVisible]="isShown" class="white-bg"></div>
        <div class="logo-container">
            <img routerLink="/"   src="../../../assets/terkoves-logo-keret-5px.png" alt="company logo" [class.is-shown]="isShown"  class="logo">
        </div>
        
        <div  [class.fixed]="isOpen" class="menu-btn" (click)="toggleMenu()">
            <div [class.change]="isOpen"  class="bar1"></div>
            <div [class.change]="isOpen" class="bar2"></div>
            <div [class.change]="isOpen" class="bar3"></div>
        </div>
        <nav [class.open]="isOpen">
            <ul>
                <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Home</li>
                <li routerLink="/paving" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Paving</li>
                <li routerLink="/tools" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Tools Hire</li>
                <li routerLink="/maintenance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Maintenance</li>
                <li routerLink="/counseling" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Counseling</li>
                <li routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.scrolled]="isShown">Contact</li>
            </ul>
        </nav>
    </div>
<!-- </div> -->

