$logo-green: #BBD760;
$logo-grey: #AFAFAF;



.container {

    

    .carousel {
        position: relative;
    
        .title-holder {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        
            .first {
                font-size: 4em;
                font-weight: 900;
                color: #fff;
                -webkit-text-stroke: 2px #000000;
                animation-name: fadeInFirst;
                animation-duration: 6s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                // animation-iteration-count: 3;
            }
            
            .second {
                
                font-size: 4em;
                font-weight: 900;
                text-transform: uppercase;
                color: $logo-green;
                -webkit-text-stroke: 2px #000000;
                animation-name: fadeInSecond;
                animation-delay: 1.5s;
                animation-duration: 4.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                // animation-iteration-count: 3;
            }
        
            .third {
                font-size: 4em;
                font-weight: 900;
                text-transform: uppercase;
                color: $logo-grey;
                -webkit-text-stroke: 2px #000000;
                animation-name: fadeInThird;
                animation-delay: 3s;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                // animation-iteration-count: 3;
            }
        
            @keyframes fadeInFirst {
                0% {  opacity: 0;}
                25% { opacity: 1;}
                75% { opacity: 1;}
                100% {  opacity: 0;}
            }
            @keyframes fadeInSecond {
                0% {  opacity: 0;}
                33% { opacity: 1;}
                66% { opacity: 1;}
                100% {  opacity: 0;}
            }
            @keyframes fadeInThird {
                0% {  opacity: 0;}
                50% {  opacity: 1;}
                100% {  opacity: 0;}
            }
        }
    }
}







.section-title {
    color: #747474;
    position:relative;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200%);
        height: .25em;
        width: 5em;
        background: #BBD760;
        z-index: -1;
    }
}


.card {
    color: #747474;
    transition: all .3s;

    &:hover {
        // transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    &-img-holder {
        overflow: hidden;
        cursor: pointer;
    }

    &-img-top{
        transition: all .3s;

        &:hover {
            transform: scale(1.05);
        }
    }
    
    a {
        text-decoration: none;
        transition: all .3s;
        color: #747474;
        cursor: pointer;
        border-bottom: 2px solid $logo-green;


        &:hover {
           filter: brightness(0.9);
           border-bottom: 2px solid $logo-grey;
           color: $logo-green;
        }
    }


   
}