<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.marshalls.co.uk/d_no-image_bucaqf.jpg,w_1024,h_500,c_fill,f_auto,q_auto,fl_lossy/towngate_buffmulti_hero1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.marshalls.co.uk/d_no-image_bucaqf.jpg,w_1024,h_500,c_fill,f_auto,q_auto,fl_lossy/ardara-grey-hero.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.marshalls.co.uk/d_no-image_bucaqf.jpg,w_1024,h_500,c_fill,f_auto,q_auto,fl_lossy/motus-graphite-paving.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam magnam obcaecati quisquam ab, natus, enim dolor minima quaerat minus nesciunt voluptas rerum ullam rem dolore debitis, porro repellat nostrum?</p>
