<div class="container">
<div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/carousel/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carousel/6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carousel/8.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row my-5">
    <h2 class="text-center fw-bold">Services</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div *ngFor="let service of services" class="col">
      <div class="card text-center text-md-start h-100 shadow p-3 mb-5 bg-body rounded">
        <img [src]="service.imgUrl" [alt]="service.title" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ service.title }}</h5>
          <p class="card-text">{{ service.description }}</p>
          <a href="#" class="btn fw-bold">Read more...</a>
        </div>
      </div>
    </div>
  </div>
  
</div>