@use '../../../styles' as *;

footer {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../assets/photo-1577393165327-117d735d1c36.jpeg");
    background-size: cover;
    background-position: 100% 60%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;

    @media (min-width: $tablet) {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-us {
        .company {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            p {
                text-transform: uppercase;
                font-weight: 700;
                color: $logo-grey;
                letter-spacing: 1px;
                font-size: 1.3rem;
                
                span {
                    color: $logo-green;
                    display: block;
                    text-align: center;
                }
            }
    
            &-logo {
                height: 4em;
                margin-right: 1em;
            }
        }

        .quote {
            color: $logo-green;
            font-style: italic;
            margin-top: .5em;
            text-align: center;
        }
    }

    .social {
        display: flex;
        align-items: center;
        align-items: center;
        
        i {
            color: $logo-grey;
            margin: 1em;
            font-size: 2rem;
            transition: color .3s;

            &:hover {
                color: $logo-green;
            }
        }
    }

    .office {
        p {
            color: $logo-grey;

            i {
                margin-right: .5em;
            }

            a {
                text-decoration: none;
                color: $logo-grey;
                transition: all 0.3s;

                &:hover {
                    color: $logo-green;
                }
            }
        }
    }

    
}