<footer class="container">
    <div class="about-us">
        <div class="company">
            <img class="company-logo" src="../../../assets/terkoves-logo-keret-5px.png" alt="company logo">
            <p><span>Paving</span> Solutions</p>
        </div>
        <p class="quote">Quality is reflected in price.</p>
    </div>
    <div class="office">
        <p class="address"><a href="https://www.google.com/maps/dir//Adorjan+Paving+Solutions/@46.5524856,24.5702892,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x474bb7477785543d:0x8afea51586171330!2m2!1d24.6403223!2d46.5525225"><i class="fas fa-map-marker-alt"></i> Livezeni, Mures, Romania</a></p>
        <p class="phone"><a href="tel:+40-747-888-559"><i class="fas fa-phone-alt"></i> 0747 888 559</a></p>
        <p class="email"><a href="mailto:adorjanattila@ymail.com"><i class="far fa-envelope"></i> adorjanattila@ymail.com</a></p>
        <p class="business-hours"><i class="far fa-clock"></i> Monday - Friday: 8:00 - 14:00</p>
    </div>
</footer>
